/*style3.scss*/
/******************************************************************************************
*Import statements sweep all other scss files into one on compilation
*******************************************************************************************/
/*--MIXINS--*/
/****************************
* MOBILE-FIRST DESIGN
* GOAL: RESPONSIVENESS
****************************/
/*--BREAKPOINTS--*/
/****************************
* MOBILE-FIRST DESIGN
* GOAL: RESPONSIVENESS
****************************/
.grid {
  padding: 40px 0;
  display: grid;
  grid-template-columns: minmax 20px, 1fr repeat 12;
  grid-template-rows: minmax 20px, 1fr repeat 12;
  grid-gap: 20px; }

.grid_quotes {
  grid-column: 2 / 9;
  grid-row: 5 / 10;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.1); }

.grid__nav_menu {
  grid-column: 10 / span 4; }

.grid_quotes,
.grid_navigation {
  grid-row: 1; }

/*--CONTAINER--*/
/************************
* Control grid aspects
* for the container
* tag.
************************/
.container {
  padding: 0 15px; }
  @media (min-width: 576px) {
    .container {
      padding: 0 20px; } }
  @media (min-width: tablet_min) {
    .container {
      padding: 0 20px; } }
  @media (min-width: small_desktop_min) {
    .container {
      padding: 0 20px;
      margin-left: auto;
      margin-right: auto;
      max-width: 1100px; } }
  @media (min-width: large_desktop_min) {
    .container {
      padding: 0 20px;
      margin-left: auto;
      margin-right: auto;
      max-width: 1300px; } }
  @media (min-width: 1400px) {
    .container {
      margin-bottom: 20px;
      margin-top: 20px; } }

/*--BACKGROUND--*/
/****************************
* EXTEND BACKGROUND IMAGE
****************************/
@media (min-width: 576px) {
  .grid_background {
    display: grid;
    padding: 0 20px;
    background-image: url("jaoshuMockupHomePage3.jpeg");
    osition: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20; } }

@media (min-width: tablet_min) {
  .grid_background {
    display: grid;
    padding: 0 20px;
    background-image: url("jaoshuMockupHomePage3.jpeg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: grid;
    padding: 0 20px; } }

@media (min-width: small_desktop_min) {
  .grid_background {
    display: grid;
    padding: 0 20px;
    background-image: url("jaoshuMockupHomePage3.jpeg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: grid;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px; } }

@media (min-width: large_desktop_min) {
  .grid_background {
    display: grid;
    padding: 0 20px;
    background-image: url("jaoshuMockupHomePage3.jpeg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: grid;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px; } }

@media (min-width: 1400px) {
  .grid_background {
    display: grid;
    padding: 0 20px;
    background-image: url("jaoshuMockupHomePage3.jpeg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: grid;
    margin-bottom: 20px;
    margin-top: 20px; } }

/*--NAVIGATION--*/
.li {
  float: left; }

@media (min-width: 576px) {
  .grid_navigation {
    list-style: none;
    display: grid;
    padding: 0 20px;
    grid-row: 1;
    position: absolute;
    z-index: 20;
    list-style-type: none; } }

@media (min-width: tablet_min) {
  .grid_navigation {
    display: grid;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: grid;
    padding: 0 20px;
    list-style-type: none; } }

@media (min-width: small_desktop_min) {
  .grid_navigation {
    list-style: none;
    display: grid;
    padding: 0 20px;
    background-image: url("IMG_7355.jpeg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: grid;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    list-style-type: none; } }

@media (min-width: large_desktop_min) {
  .grid_navigation {
    list-style: none;
    display: grid;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: grid;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    list-style-type: none; } }

@media (min-width: 1400px) {
  .grid_navigation {
    list-style: none;
    display: grid;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: grid;
    margin-bottom: 20px;
    margin-top: 20px;
    list-style-type: none; } }

/*--FONT--*/
/***********************************
* Make font responsive, too.
***********************************/
p, li {
  color: black; }

@media (min-width: 576px) {
  .grid_quote_font {
    font-size: 9px; } }

@media (min-width: tablet_min) {
  .grid_quote_font {
    font-size: 10px; } }

@media (min-width: small_desktop_min) {
  .grid_quote_font {
    font-size: 11px; } }

@media (min-width: large_desktop_min) {
  .grid_quote_font {
    font-size: 12px; } }

@media (min-width: 1400px) {
  .grid_quote_font {
    font-size: 13px; } }

@media (min-width: 576px) {
  .grid_navItem {
    font-size: 8px; } }

@media (min-width: tablet_min) {
  .grid_navItem {
    font-size: 9px; } }

@media (min-width: small_desktop_min) {
  .grid_navItem {
    font-size: 10px; } }

@media (min-width: large_desktop_min) {
  .grid_navItem {
    font-size: 11px; } }

@media (min-width: 1400px) {
  .grid_navItem {
    font-size: 12px; } }
