/*style.scss*/
/******************************************************************************************
*Import statements sweep all other scss files into one on compilation, but scss docs show import will be deprecated soon. Replace with @use rule.
*******************************************************************************************/
/*---Body---*/
body {
  background-image: url(homePageTree5.tif);
  background-repeat: no-repeat;
  background-size: 100%; }

/*---Grid---*/
/*mixins*/
/****************************************************
*The mixin to control responsiveness with breaks.
******************************************************/
@media (max-width: 767px) {
  h3 {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1; } }

@media (min-width: 768px) {
  h3 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1; } }

@media (min-width: 992px) {
  h3 {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1; } }

@media (min-width: 1200px) {
  h3 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    width: 150px; } }

@media (max-width: 767px) {
  .article {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
    width: 190px;
    position: relative; } }

@media (min-width: 768px) {
  .article {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
    width: 220px;
    position: relative; } }

@media (min-width: 992px) {
  .article {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
    width: 300px;
    position: relative; } }

@media (min-width: 1200px) {
  .article {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
    width: 675px;
    position: relative; } }

/*---Image---*/
/****************************************************************************
*The application of the mixin to control breaks on image and imageDiv.
*****************************************************************************/
@media (max-width: 767px) {
  .img {
    height: 14vh; } }

@media (min-width: 768px) {
  .img {
    height: 19vh; } }

@media (min-width: 992px) {
  .img {
    height: 25vh; } }

@media (min-width: 1200px) {
  .img {
    height: 31vh; } }

/*---Navigation---*/
/******************************************************************************************
*The application of the mixin to control breaks on navList and projectList nav links.
*******************************************************************************************/
.navList {
  list-style-type: none;
  width: 1000px;
  display: grid, inline-block;
  padding: 1px; }

@media (max-width: 767px) {
  .navList {
    width: 210px;
    display: block;
    padding: 55px 20px; } }

@media (min-width: 768px) {
  .navList {
    padding: 400px 60px;
    width: 500px; } }

@media (min-width: 992px) {
  .navList {
    width: 600px;
    padding: 50px; } }

@inclue breaks(lg) {
  .navList {
    width: 3; } }

/******************************************************************************************
*The application of the mixin to control breaks on projectList nav links.
*******************************************************************************************/
.projectList {
  list-style-type: none;
  list-style-position: inherit;
  position: inherit;
  display: inline;
  padding: 5px; }

@media (max-width: 767px) {
  .projectList {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 10; } }

@media (min-width: 768px) {
  .projectList {
    display: inline-grid;
    grid-column-start: 2;
    grid-row-start: 10;
    width: auto; } }

@media (min-width: 992px) {
  .projectList {
    display: inline;
    bottom: 400px;
    width: 600px; } }

@media (min-width: 1200px) {
  .projectList {
    display: inline;
    bottom: 400px;
    width: 600px; } }

/*Typography*/
/******************************************************************************************
*headings
*******************************************************************************************/
/******************************************************************************************
*index.html, aboutMe.html type styling
*******************************************************************************************/
h3 {
  font-family: 'Pangolin';
  font-size: 1.25em;
  color: black; }

.aboutMePara {
  font-family: Georgia, Serif;
  font-size: 1em;
  color: black;
  width: 800px; }

.quote {
  color: #05010B;
  font-family: 'Pangolin';
  font-size: 1.35em;
  position: absolute;
  width: 650px; }

@media (max-width: 767px) {
  .quote {
    width: 300px;
    color: #05010B;
    font-family: 'Pangolin';
    font-size: 1em;
    position: absolute; } }

/******************************************************************************************
*Typography for the navigation list items
*******************************************************************************************/
.navItem {
  font-family: 'Rowdies';
  display: inline;
  font-size: 1.17em;
  padding: 45px 15px;
  justify-self: start;
  width: 300px;
  list-style-type: none;
  position: inherit; }

.projectItem {
  font-family: 'Roboto', sans-serif;
  display: inline-grid;
  position: inherit;
  font-size: 1em;
  justify-self: start; }

p {
  color: black; }

/*PsuedoStyles*/
/******************************************************************************************
*The variables, mixin, and @include for psuedo-classes on the links.
**https://css-tricks.com/snippets/sass/sass-things-links/
 *********************************************************************************************/
a:active {
  color: black;
  text-decoration: none;
  list-style-type: none; }

a:hover {
  color: black;
  text-decoration: none;
  list-style-type: none; }

a:visited {
  color: black;
  text-decoration: none;
  list-style-type: none; }

a:link {
  color: black;
  text-decoration: none;
  list-style-type: none; }

/*_gridForDivs.scss*/
/******************************************************************************************
*The responsiveness or breaks for p tag containers
*******************************************************************************************/
.quoteDiv {
  padding: 2px;
  margin-top: 0em;
  display: grid; }
  @media (max-width: 767px) {
    .quoteDiv {
      display: grid;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; } }
  @media (min-width: 768px) {
    .quoteDiv {
      display: grid;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; } }
  @media (min-width: 992px) {
    .quoteDiv {
      display: grid;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; } }
  @media (min-width: 1200px) {
    .quoteDiv {
      display: grid;
      grid-column-start: 20;
      grid-row-start: 8; } }

@media (max-width: 767px) {
  .aboutMeDiv {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    width: 200px; } }

@media (min-width: 768px) {
  .aboutMeDiv {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    width: 200px; } }

@media (min-width: 992px) {
  .aboutMeDiv {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
    width: 300px; } }

@media (min-width: 1200px) {
  .aboutMeDiv {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
    width: 800px; } }

@media (max-width: 767px) {
  .navDiv {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 20; } }

@media (min-width: 768px) {
  .navDiv {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 20; } }

@media (min-width: 992px) {
  .navDiv {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 20; } }

@media (min-width: 1200px) {
  .navDiv {
    display: inline;
    list-style: none;
    width: 500px;
    grid-column-start: 1 / span 20;
    grid-row-start: 20; } }

@media (max-width: 767px) {
  .imageDiv {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1; } }

@media (min-width: 768px) {
  .imageDiv {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1; } }

@media (min-width: 992px) {
  .imageDiv {
    display: grid;
    grid-column-start: 6;
    grid-row-start: 5; } }

@media (min-width: 1200px) {
  .imageDiv {
    display: grid;
    grid-column-start: 13;
    grid-row-start: 3; } }

/*mixins*/
/****************************************************
*The mixin to control responsiveness with breaks.
******************************************************/
/*Container*/
.container {
  margin-bottom: 0em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: .1em;
  padding: 1px;
  color: #fff; }

.container > div {
  padding: 1px;
  margin-bottom: 0em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  color: #fff; }
