/*Using variations of style.scss to paste into style.css
    As per https://www.smashingmagazine.com/2018/02/media-queries-responsive-design-2018/
    media queries aren't necessarily the answer for web responsiveness in every case.
*/
body {
  background-color: #ffe6e6;
  background-image: url("jaoshuBackgroundB.jpg");
  display: block;
  background-repeat: no-repeat;
  background-size: 100%; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  padding: 10px; }

ul a {
  text-decoration: none; }

nav ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  justify-content: space-around; }

nav {
  text-align: center;
  margin: 20px 0 0;
  padding: 10px 0;
  width: 500px;
  position: fixed;
  bottom: 25px; }

nav li {
  display: inline-block;
  padding: 5px 5px; }

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: 1em;
  text-decoration: none; }

/*The anchor tags for the navigation buttons.*/
.noStyle:link {
  list-style-type: none;
  padding: 15px;
  color: #2C2B3C; }

.noStyle:visited {
  background-color: #7A93AC; }

.noStyle:hover {
  background-color: none; }

.noStyle:active {
  background-color: #403F4C; }

.wrapper {
  margin-bottom: 2em; }

.wrapper > div {
  padding: 10px;
  color: #fff; }
