/*--BREAKPOINTS--*/

// Attribution: medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2

/****************************
* MOBILE-FIRST DESIGN
* GOAL: RESPONSIVENESS
****************************/
$mobile_min: 576px;
$tablet_min: 768px;
$small_desktop_min: 992px;
$large_desktop_min: 1200px;