/*--CONTAINER--*/

/************************
* Control grid aspects
* for the container
* tag.
************************/

// attribution: medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2
.container 
{
    padding: 0 15px;
    @include sm 
    {
        padding: 0 20px;
    }
    @include md
    {
        padding: 0 20px;
    }
    @include lg
    {
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
    }
    @include xl
    {
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
    }
    @include custom (1400)
    {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}