/*--FONT--*/

/***********************************
* Make font responsive, too.
***********************************/

p, li 
{
    color:black;
}

.grid_quote_font
{
    @include sm 
    {
        font-size: 9px;
        
    }
    @include md
    {
        font-size: 10px;
    }
    @include lg
    {
        font-size: 11px;
    }
    @include xl
    {
        font-size: 12px;
    }
    @include custom (1400)
    {
        font-size: 13px;
    }
}

.grid_navItem
{
    @include sm
    {
        font-size: 8px;
    }
    @include md
    {
        font-size: 9px;
    }
    @include lg
    {
        font-size: 10px;
    }
    @include xl
    {
        font-size: 11px;
    }
    @include custom (1400)
    {
        font-size: 12px;
    }
}