// Attribution: css-tricks.com/super-power-grid-components-with-css-custom-properties/
// force compile
.grid 
{
    padding: 40px 0;
    display: grid;
    // a grid of 12 x 12
    grid-template-columns: minmax (20px, 1fr) repeat (12);
    grid-template-rows: minmax (20px, 1fr) repeat (12);
    grid-gap: 20px;
}

.grid_quotes 
{
    grid-column: 2 / 9;
    grid-row: 5 / 10;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.1);
  }
  
  .grid__nav_menu 
  {
    grid-column: 10 / span 4;
  }
  
  .grid_quotes,
  .grid_navigation
  {
    grid-row: 1; // We want to keep our items on the same row
  }
  