/*--NAVIGATION--*/

.li
{
    float: left;
}

.grid_navigation
{
    @include sm 
    {
        list-style: none;
        display: grid;
        padding: 0 20px;
        grid-row:1;
        //background-color: black;
        //background-image: url("IMG_7355.jpeg");
        position: absolute;
        z-index: 20;
        list-style-type:none;
    }
    @include md
    {
        display: grid;
        padding: 0 20px;
        //background-image: url("IMG_7355.jpeg");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display:grid;
        padding: 0 20px;
        list-style-type:none;
    }
    @include lg
    {
        list-style: none;
        display: grid;
        padding: 0 20px;
        background-image: url("IMG_7355.jpeg");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display:grid;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
        list-style-type:none;
    }
    @include xl
    {
        list-style: none;
        display: grid;
        padding: 0 20px;
        //background-image: url("IMG_7355.jpeg");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display:grid;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
        list-style-type:none;
    }
    @include custom (1400)
    {
        list-style: none;
        display: grid;
        padding: 0 20px;
        //background-image: url("jaoshuMockupHomePage3.jpeg");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display:grid;
        margin-bottom: 20px;
        margin-top: 20px;
        list-style-type:none;
    }
}