/*--BACKGROUND--*/

/****************************
* EXTEND BACKGROUND IMAGE
****************************/

.grid_background
{
    @include sm 
    {
        display: grid;
        padding: 0 20px;
        //background-color: black;
        background-image: url("jaoshuMockupHomePage3.jpeg");
        osition: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
    }
    @include md
    {
        display: grid;
        padding: 0 20px;
        background-image: url("jaoshuMockupHomePage3.jpeg");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display:grid;
        padding: 0 20px;
    }
    @include lg
    {
        display: grid;
        padding: 0 20px;
        background-image: url("jaoshuMockupHomePage3.jpeg");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display:grid;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
    }
    @include xl
    {
        display: grid;
        padding: 0 20px;
        background-image: url("jaoshuMockupHomePage3.jpeg");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display:grid;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
    }
    @include custom (1400)
    {
        display: grid;
        padding: 0 20px;
        background-image: url("jaoshuMockupHomePage3.jpeg");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display:grid;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    // Background grid, for illustration
  }