/*---Grid---*/
.container
{
  margin-bottom: 0em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: .1em;
  padding: 1px;
  color: #fff;
}

.container > div
{
  padding: 1px;
  margin-bottom: 0em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  color: #fff;
}

h3
{
    @include breaks(xs)
    {
            display:grid;
            grid-column-start:2;
            grid-row-start:1;
    }
    @include breaks(sm)
    {
        display:grid;
            grid-column-start:1;
            grid-row-start:1;

    }
    @include breaks(md)
    {
        display:grid;
            grid-column-start:2;
            grid-row-start:1;

    }
    @include breaks(lg)
    {
            display:grid;
            grid-column-start:1;
            grid-row-start:1;
            width:150px;
            //justify-self:start;
    }
}

p
{
    @include breaks(xs)
    {
            display:grid;
            grid-column-start:2;
            grid-row-start:3;
            width:190px;
    }
    @include breaks(sm)
    {
            display:grid;
            grid-column-start:2;
            grid-row-start:3;
            width:220px;

    }
    @include breaks(md)
    {
            display:grid;
            grid-column-start:2;
            grid-row-start:3;
            width: 300px;

    }
    @include breaks(lg)
    {
            display:grid;
            grid-column-start:2;
            grid-row-start:3;
            width:675px;
            //justify-self:start;
        }
    }
