/*---Image---*/

//https://medium.com/developing-with-sass/creating-a-dead-simple-sass-mixin-to-handle-responsive-breakpoints-889927b37740

/****************************************************
*The mixin to control responsiveness with breaks.
******************************************************/

@mixin breaks($min: 0, $max: 0)
{
  $type: type-of($min);

  @if $type == string
  {
    @if $min == xs
    {
      //@content makes the code callable by other blocks
      @media (max-width: 767px) { @content; }
    }

    @else if $min == sm
    {
      @media (min-width: 768px) { @content; }
    }

    @else if $min == md
    {
      @media (min-width: 992px) { @content; }
    }

    @else if $min == lg
    {
      @media (min-width: 1200px) { @content; }
    }

    @else
    {
      @warn "The breakpoint mixin supports the following attributes: xs, sm, md, lg";
    }
  }
  @else if $type == number
  {
    // Allow for custom parameters for min and max size
    $query: "all" !default;
    @if      $min != 0 and $max != 0 { $query: "(min-width: #{$min}) and (max-width: #{$max})"; } // set both min and max
    @else if $min != 0 and $max == 0 { $query: "(min-width: #{$min})"; } // set just min
    @else if $min == 0 and $max != 0 { $query: "(max-width: #{$max})"; } // set just max
    @media #{$query} { @content; }
  }
}

/****************************************************************************
*The application of the mixin to control breaks on image and imageDiv.
*****************************************************************************/

.img
{
  @include breaks(xs)
  {
    height:14vh;
  }
  @include breaks(sm)
  {
    height:19vh;
  }
  @include breaks(md)
  {
    height:25vh;
  }
  @include breaks(lg)
{
    height:31vh;
  }
}
