/*---Navigation---*/
/******************************************************************************************
*The application of the mixin to control breaks on navList and projectList nav links.
*******************************************************************************************/
.navList
{
  list-style-type: none;
  width: 1000px;
  display: grid, inline-block;
  padding: 1px;
}
  @media (max-width: 767px)
  {
    .navList
    {
      width: 210px;
    display: block;
    padding: 55px 20px;
    }
  }
  @media (min-width: 768px)
  {
    .navList
    {
      padding: 400px 60px;
      width: 500px;
    }
  }
  @media (min-width: 992px)
  {
    .navList
    {
      width: 600px;
        padding: 50px;
    }
  }

@inclue breaks(lg)
{
  .navList
  {
    width: 3;
  }
}

/******************************************************************************************
*The application of the mixin to control breaks on projectList nav links.
*******************************************************************************************/
.projectList
{
  list-style-type: none;
  list-style-position: inherit;
  position: inherit;
  display: inline;
  padding: 5px;
}
  @media (max-width: 767px)
  {
    .projectList
      {
      display: grid;
      grid-column-start: 2;
      grid-row-start: 10;
      }
}
  @media (min-width: 768px)
  {
    .projectList
      {
      display: inline-grid;
      grid-column-start: 2;
      grid-row-start: 10;
      width: auto;
      }
}
  @media (min-width: 992px)
  {
    .projectList
      {
      display: inline;
      bottom: 400px;
      width: 600px;
      }
}
  @media (min-width: 1200px)
  {
    .projectList
      {
      display: inline;
      bottom: 400px;
      width: 600px;
      }
}
