﻿/*PsuedoStyles*/

/******************************************************************************************
*The variables, mixin, and @include for psuedo-classes on the links.
**https://css-tricks.com/snippets/sass/sass-things-links/
 *********************************************************************************************/


a:active {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

a:hover {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

a:visited {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

a:link {
    color: black;
    text-decoration: none;
    list-style-type: none;
}