/*Typography*/
/******************************************************************************************
*headings
*******************************************************************************************/
/******************************************************************************************
*index.html, aboutMe.html type styling
*******************************************************************************************/
h3
{
  font-family: 'Pangolin';
  font-size: 1.25em;
  color: black;
}

.aboutMePara
{
  font-family: Georgia, Serif;
  font-size: 1em;
  color: black;
  width: 800px;
}

.quote
{
  color: #05010B;
  font-family: 'Pangolin';
  font-size: 1.35em;
  position: absolute;
  width: 650px;
}

@media (max-width: 767px)
{
  .quote
  {
    width: 300px;
    color: #05010B;
    font-family: 'Pangolin';
    font-size: 1em;
    position: absolute;
  }
}

/******************************************************************************************
*Typography for the navigation list items
*******************************************************************************************/
.navItem
{
  font-family: 'Rowdies';
  display: inline;
  font-size: 1.17em;
  padding: 45px 15px;
  justify-self: start;
  width: 300px;
  list-style-type: none;
  position: inherit;
}

.projectItem
{
  font-family: 'Roboto', sans-serif;
  display: inline-grid;
  position: inherit;
  font-size: 1em;
  justify-self: start;
}

p
{
         color:black;
}
