﻿/*_gridForDivs.scss*/

/******************************************************************************************
*The responsiveness or breaks for p tag containers
*******************************************************************************************/

.quoteDiv
{
    padding: 2px;
    margin-top: 0em;
    display: grid;
    {
        @include breaks(xs)
  {
    display:grid;
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
  }
  @include breaks(sm){
    display:grid;
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
  }
  @include breaks(md){
    display:grid;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
  }
  @include breaks(lg)
  {
    display:grid;
    grid-column-start:20;
    //grid-column-end:3;
    grid-row-start:8;
   // grid-row-end:3;
        }
    }
}

.aboutMeDiv{
    @include breaks(xs){
        display:grid;
        grid-column-start:1;
        grid-row-start:2;
        width:200px;
        }
    @include breaks(sm){
        display:grid;
        grid-column-start:1;
        grid-row-start:2;
        width:200px;
        }
    @include breaks(md){
        display:grid;
        grid-column-start: 2;
        grid-row-start: 3;
        width:300px;
        }
    @include breaks(lg){
        display:grid;
        grid-column-start:2;
        grid-row-start:1;
        width:800px;
        }
}

.navDiv{
     @include breaks(xs){
        display:grid;
        grid-column-start:1;
        grid-row-start:20;
        }
    @include breaks(sm){
        display:grid;
        grid-column-start:1;
        grid-row-start:20;
        }
    @include breaks(md){
        display:grid;
        grid-column-start: 1;
        grid-row-start: 20;
        }
    @include breaks(lg){
        display:inline;
        list-style:none;
        width:300px;
        grid-column-start:1 / span 20;
        grid-row-start:200;
        }
}

.imageDiv{
  @include breaks(xs){
    display:grid;
    grid-column-start:1;
    grid-row-start:1;
  }
  @include breaks(sm){
    display:grid;
    grid-column-start:1;
    grid-row-start:1;
}
@include breaks(md){
  display:grid;
  grid-column-start:6;
  grid-row-start:5;
}
  @include breaks(lg){
    display:grid;
    grid-column-start:13;
    grid-row-start:3;
  }
}
